/* ----------- Global CSS ---------- */

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap");

:root {
  --colorPrimary: #5163ff;
  --colorSecondary: #fe71b9;
  --colorText: #838a95;
  --colorHeading: #00234b;
  --colorWhite: #ffffff;
  --redGradient: linear-gradient(
    90deg,
    #5163ff 12.38%,
    #c872f2 35.8%,
    #fe71b9 55.75%
  );
  --redGradient2: linear-gradient(90deg, #708bfd 0%, #fe71b9 100%);
  --redGradient3: linear-gradient(
    131deg,
    rgba(81, 99, 255, 0.08) 27.01%,
    rgba(254, 113, 185, 0.02) 113.08%
  );
  --blueGradient: radial-gradient(
      83.54% 74.04% at 37.13% 12%,
      rgba(255, 255, 255, 0.43) 0%,
      rgba(255, 255, 255, 0) 69.79%,
      rgba(255, 255, 255, 0) 100%
    ),
    #4c5def;
  --themeFont: "Inter", sans-serif;
}

* {
  margin: 0;
  padding: 0;
}

ul,
ol,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  display: inline-block;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  font-family: var(--headingFont);
  color: var(--colorBlack);
}

p,
span {
  font-size: 15px;
  font-weight: 500;
  margin: 0;
  color: var(--paraColor);
  font-family: var(--paraFont);
}

body {
  overflow-x: hidden;
  scroll-behavior: smooth;
}

img {
  width: 100% !important;
  height: 100% !important;
  object-fit: cover !important;
  transition: all linear 0.3s;
  -webkit-transition: all linear 0.3s;
  -moz-transition: all linear 0.3s;
  -ms-transition: all linear 0.3s;
  -o-transition: all linear 0.3s;
}

input,
textarea {
  width: 100%;
  padding: 12px 20px;
  outline: none;
  resize: none;
  border: 1px solid rgba(8, 5, 33, 0.1);
  border-radius: 10px;
  font-size: 15px;
  font-weight: 400;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

input::placeholder,
textarea::placeholder {
  color: #a6a6ac;
}

button {
  border: none;
}

.custom_container {
  max-width: 1362px;
}

.common_btn {
  position: relative;
  z-index: 1;
  display: inline-flex;
  padding: 12px 20px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  color: var(--colorWhite);
  border-radius: 10px;
  background: var(--blueGradient);
  box-shadow: -3px -4px 7px 0px rgba(255, 255, 255, 0.15) inset,
    4px 10px 20px 0px rgba(81, 99, 255, 0.26);
  transition: all linear 0.3s;
  -webkit-transition: all linear 0.3s;
  -moz-transition: all linear 0.3s;
  -ms-transition: all linear 0.3s;
  -o-transition: all linear 0.3s;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
}

.secondary_button {
  position: relative;
  z-index: 1;
  display: inline-flex;
  padding: 6px 14px;
  justify-content: center;
  align-items: center;
  color: var(--colorWhite);
  border-radius: 48px;
  background: var(--redGradient);
  box-shadow: 0px -2px 4px 0px rgba(255, 255, 255, 0) inset,
    0px -4px 18.5px 0px rgba(255, 255, 255, 0.79) inset;
  transition: all linear 0.3s;
  -webkit-transition: all linear 0.3s;
  -moz-transition: all linear 0.3s;
  -ms-transition: all linear 0.3s;
  -o-transition: all linear 0.3s;
}

.secondary_button img {
  width: 13px !important;
  margin-right: 6px;
}

.common_btn i {
  margin-right: 5px;
}

.common_btn:hover {
  background: var(--colorWhite);
  color: var(--colorPrimary);
}

.common_btn::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
  z-index: 2;
  opacity: 0;
  border-radius: 5px;
  border-top: 1px solid var(--colorPrimary);
  border-left: 1px solid var(--colorPrimary);
  transition: all linear 0.3s;
  -webkit-transition: all linear 0.3s;
  -moz-transition: all linear 0.3s;
  -ms-transition: all linear 0.3s;
  -o-transition: all linear 0.3s;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.common_btn:hover::before {
  opacity: 1;
  width: 100%;
  height: 100%;
}

.common_btn::after,
.secondary_button::after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  width: 0;
  height: 0;
  z-index: 2;
  opacity: 0;
  border-radius: 5px;
  border-bottom: 1px solid var(--colorPrimary);
  border-right: 1px solid var(--colorPrimary);
  transition: all linear 0.3s;
  -webkit-transition: all linear 0.3s;
  -moz-transition: all linear 0.3s;
  -ms-transition: all linear 0.3s;
  -o-transition: all linear 0.3s;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.secondary_button::after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  width: 0;
  height: 0;
  z-index: 2;
  opacity: 0;
  border-radius: 48px;
  border-bottom: 1px solid var(--colorPrimary);
  border-right: 1px solid var(--colorPrimary);
  transition: all linear 0.3s;
  -webkit-transition: all linear 0.3s;
  -moz-transition: all linear 0.3s;
  -ms-transition: all linear 0.3s;
  -o-transition: all linear 0.3s;
}

.common_btn:hover::after,
.secondary_button:hover::after {
  opacity: 1;
  width: 100%;
  height: 100%;
}

.common_btn .icon {
  display: block;
  width: 17px;
  margin-right: 8px;
  margin-top: -2px;
}

.common_btn:hover .icon {
  filter: invert(17%) sepia(65%) saturate(4203%) hue-rotate(339deg)
    brightness(77%) contrast(97%);
}

input:focus {
  box-shadow: none !important;
}

@keyframes playAnimi {
  from {
    opacity: 1;
    transform: scale(1);
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
  }

  to {
    opacity: 0;
    transform: scale(2);
    -webkit-transform: scale(2);
    -moz-transform: scale(2);
    -ms-transform: scale(2);
    -o-transform: scale(2);
  }
}

.search {
  background: rgba(0, 0, 0, 0.85);
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 9999;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  display: flex;
  transform: scaleY(0);
  transform-origin: top;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease;
}

.search form {
  width: 650px;
  position: relative;
  background: var(--colorWhite);
  border-radius: 5px;
}

.search form input {
  padding: 20px 30px;
  border-radius: 5px;
}

.search form button {
  position: absolute;
  top: 11px;
  right: 55px;
  background: var(--colorPrimary);
  color: var(--colorWhite);
  padding: 10px 25px;
  font-size: 16px;
  font-weight: 600;
  text-transform: capitalize;
  border-radius: 5px;
  transition: all linear 0.3s;
  -webkit-transition: all linear 0.3s;
  -moz-transition: all linear 0.3s;
  -ms-transition: all linear 0.3s;
  -o-transition: all linear 0.3s;
}

.search form button:hover {
  background: var(--colorSecondary);
}

.search form .close_search {
  display: block;
  width: 40px;
  height: 40px;
  background: var(--colorWhite);
  line-height: 40px;
  text-align: center;
  border-radius: 5px;
  color: var(--colorBlack);
  position: absolute;
  top: 12px;
  right: 8px;
  cursor: pointer;
  transition: all linear 0.3s;
  -webkit-transition: all linear 0.3s;
  -moz-transition: all linear 0.3s;
  -ms-transition: all linear 0.3s;
  -o-transition: all linear 0.3s;
}

.search form .close_search:hover {
  background: red;
  color: var(--colorWhite);
}

.search.show_search {
  transform: scaleY(1);
  opacity: 1;
  visibility: visible;
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
}

/* SLIDER ARROW START */
.nextArrow,
.prevArrow {
  position: absolute;
  bottom: 80px;
  right: 0;
  width: 40px;
  height: 40px;
  line-height: 40px !important;
  text-align: center;
  border: 1px solid var(--colorText);
  border-radius: 50%;
  color: var(--colorBlack);
  transition: all linear 0.3s;
  -webkit-transition: all linear 0.3s;
  -moz-transition: all linear 0.3s;
  -ms-transition: all linear 0.3s;
  -o-transition: all linear 0.3s;
  z-index: 1;
}

.nextArrow:hover,
.prevArrow:hover {
  background: var(--redGradient2);
  border-color: var(--colorText);
  color: var(--colorWhite);
}

/* SLIDER ARROW END */

.form-check-input:focus {
  border-color: var(--colorPrimary);
  box-shadow: none;
}

.form-check-input:checked {
  background-color: var(--colorPrimary);
  border-color: var(--colorPrimary);
}

.droap_menu {
  position: absolute;
  background: var(--colorWhite);
  width: 220px;
  top: 0px;
  left: 0px;
  line-height: 40px;
  padding: 10px 0px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  opacity: 0;
  visibility: hidden;
  max-height: 450px;
  overflow: hidden auto;
  z-index: 9999;
  transition: all 0.15s linear 0s;
  -webkit-transition: all 0.15s linear 0s;
  -moz-transition: all 0.15s linear 0s;
  -ms-transition: all 0.15s linear 0s;
  -o-transition: all 0.15s linear 0s;
}

/* Header Section Style Start */
/* 
#header {
  height: 140px;
} */
.top_bar {
  width: 1362px;
  height: 70px;
  line-height: 70px;
  padding: 0px 30px;
  flex-shrink: 0;
  border-radius: 10px;
  background: var(--White-Color, #fff);
  box-shadow: 0px 20px 46px 0px #f1f3ff inset,
    2.25px -7px 44px 0px #f1f3ff inset;
}

.top_contact {
  display: flex;
  align-items: center;
}

.top_bar .language:hover .droap_menu {
  opacity: 1;
  visibility: visible;
  top: 100%;
}

.top_social_link {
  position: relative;
  margin-left: 40px;
}

.top_social_link li {
  padding-left: 15px;
}

.top_social_link::before {
  position: absolute;
  content: "";
  top: 27px;
  left: -15px;
  width: 2px;
  height: 20px;
  background: rgba(42, 48, 61, 0.15);
}

.top_address {
  position: relative;
  padding-left: 20px;
  margin-right: 30px;
  color: var(--colorText);
}
.top_email {
  position: relative;
  padding-left: 30px;
}

.top_email a {
  color: var(--colorText);
}

.top_address::before {
  position: absolute;
  content: "";
  top: 27px;
  left: 0;
  width: 14px;
  height: 18px;
  background-image: url("../images/location.svg");
  background-position: center;
  background-size: cover;
}
.top_address::after {
  position: absolute;
  content: "";
  top: 27px;
  right: -15px;
  width: 2px;
  height: 20px;
  background: rgba(42, 48, 61, 0.15);
}
.top_email::before {
  position: absolute;
  content: "";
  top: 27px;
  left: 0;
  width: 18px;
  height: 16px;
  background-image: url("../images/email.svg");
  background-position: center;
  background-size: cover;
}

.brand_logo_container {
  text-align: center;
}

.brand_logo {
  width: 200px;
}

.socailNlang_wraper {
  display: flex;
  justify-content: end;
  align-items: center;
}

.language {
  position: relative;
}

.language::before {
  position: absolute;
  content: "";
  top: 3px;
  left: -25px;
  width: 16px;
  height: 16px;
  background-image: url("../images/World.svg");
  background-position: center;
  background-size: cover;
}

.nice-select {
  background: none;
  border: none;
  height: auto;
  line-height: normal;
  padding: 0;
  min-width: 85px;
  position: relative;
}

.nice-select .list {
  margin-top: 30px;
}

.nice-select.open .list {
  background: var(--colorWhite);
  z-index: 9999;
}

.nice-select .current {
  color: var(--colorText);
  font-size: 14px;
  font-weight: 500;
}

.nice-select:after {
  border-bottom: 3px solid #7d7c87;
  border-right: 3px solid #7d7c87;
  margin-top: -5px;
  right: 15px;
}
.main_menu .navbar-brand {
  display: none;
}

.navbar_left li {
  margin-right: 30px;
  position: relative;
}

.navbar_left li:not(:last-child)::after {
  position: absolute;
  content: "";
  width: 1px;
  height: 20px;
  background-color: rgba(0, 35, 75, 0.15);
  top: 5px;
  right: -15px;
}

.cart_count {
  background-color: var(--colorPrimary);
  border-radius: 50%;
  width: 19px;
  height: 19px;
  line-height: 19px;
  color: var(--colorWhite);
  font-size: 10px;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: -8px;
  right: -8px;
}

.main_menu {
  width: 100%;
  position: fixed;
  top: 85px;
  left: 0;
  transition: all linear 0.3s;
  -webkit-transition: all linear 0.3s;
  -moz-transition: all linear 0.3s;
  -ms-transition: all linear 0.3s;
  -o-transition: all linear 0.3s;
  z-index: 999;
}

.main_menu.sticky_menu {
  top: 0;
  z-index: 999;
  background: var(--colorHeading);
  border: none;
  animation: menu_animate 1.5s;
  -webkit-animation: menu_animate 1.5s;
}

.main_menu .navbar-nav .nav-item {
  position: relative;
}

.main_menu .navbar-nav .nav-item .nav-link {
  color: var(--colorText);
  font-size: 16px;
  font-weight: 500;
  margin: 0;
  padding: 0px 18px;
  text-transform: capitalize;
}

.main_menu .navbar-nav .nav-item .nav-link i {
  position: relative;
  top: 2px;
  left: 2px;
}

.main_menu .navbar-nav .nav-item:hover .nav-link,
.main_menu .navbar-nav .nav-item .nav-link.active {
  color: var(--colorPrimary);
}

.border_bottom {
  position: relative;
}

.border_bottom::after {
  width: 100%;
  content: "";
  height: 1px;
  background-color: var(--colorPrimary);
  position: absolute;
  left: 0;
  bottom: -10px;
  opacity: 0.1;
}

/* Header Section Style End */

/* Hero Section Style Start */
#hero {
  position: relative;
  background-image: url("../images/hero_area_bg.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 85px 0;
}
.icon {
  width: 50px;
  height: 50px;
  border: 2px solid var(--colorText);
  border-radius: 50%;
  padding: 10px;
}

.hero_title,
.hero_title span {
  font-size: 100px;
  font-weight: 600;
  line-height: 110%;
  letter-spacing: -2px;
  color: var(--colorHeading);
  position: relative;
}

.hero_title span {
  background: var(--redGradient);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.hero_title::after {
  position: absolute;
  content: "";
  background: url("../images/Rocket-small.png");
  background-size: contain;
  background-repeat: no-repeat;
  width: 80px;
  height: 120px;
  left: 500px;
  bottom: -40px;
  animation: smooth linear 2s infinite alternate;
  -webkit-animation: smooth linear 2s infinite alternate;
}
.hero_title::before {
  position: absolute;
  content: "";
  background: url("../images/shape_1.png");
  background-size: contain;
  background-repeat: no-repeat;
  width: 80px;
  height: 120px;
  right: 400px;
  top: -20px;
  animation: generateAnimi3 linear 2s infinite alternate;
  -webkit-animation: generateAnimi3 linear 2s infinite alternate;
}

@keyframes generateAnimi3 {
  from {
    right: 380px;
  }

  to {
    right: 420px;
  }
}

@keyframes smooth {
  from {
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
  }

  to {
    transform: rotate(15deg);
    -webkit-transform: rotate(15deg);
    -moz-transform: rotate(15deg);
    -ms-transform: rotate(15deg);
    -o-transform: rotate(15deg);
  }
}

#hero .content_wraper {
  height: 550px;
}

#hero .content_wraper > p {
  font-size: 18px;
  line-height: 32px;
  padding: 28px 0 44px;
}

.hero_contact p {
  font-size: 13px;
  color: var(--colorText);
}
.hero_contact h3 {
  font-size: 17px;
  color: var(--colorHeading);
  font-weight: 500;
}
#hero .hero_banner {
  position: absolute;
  bottom: -50px;
  right: 0;
  width: 915px !important;
}

.play_btn {
  width: 80px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--redGradient2);
  border-radius: 50%;
  color: var(--colorWhite);
  cursor: pointer;
  z-index: 999;
}

.play_btn i {
  font-size: 24px;
}

.circle,
.circle2 {
  width: 140px;
  height: 140px;
  border-radius: 100vmax;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 99;
}

.circle {
  position: absolute;
  right: 335px;
  top: 190px;
  background-color: var(--colorWhite);
}

.circle2 {
  position: absolute;
  right: 50px;
  top: 50px;
  border: 2px dashed var(--colorText);
}

.watch_video {
  position: absolute;
  width: 100%;
  height: 100%;
  font-size: 16px;
  animation: textRotation 13s linear infinite;
}

@keyframes textRotation {
  to {
    transform: rotate(360deg);
  }
}

.watch_video span {
  position: absolute;
  left: 50%;
  font-size: 16px;
  transform-origin: 0 70px;
}

.avator_2,
.avator_3,
.avator_4 {
  margin-left: -35px;
}

.hero_bottom_text {
  color: var(--colorText);
  font-weight: 600;
}
.hero_bottom_text span {
  color: var(--colorPrimary);
  font-weight: 600;
}
/* Hero Section Style End */

/* Header Section Style Start */
.text_slider {
  background: var(--redGradient);
  padding: 10px 0px;
  overflow: hidden;
  position: relative;
}

.text_slider .marquee_animi ul {
  gap: 100px;
}

.text_slider .marquee_animi ul li {
  font-size: 44px;
  font-weight: 700;
  text-transform: uppercase;
  position: relative;
  color: transparent;
  -webkit-text-stroke-width: 0.5px;
  -webkit-text-stroke-color: var(--colorWhite);
}

.text_slider .marquee_animi ul li::after {
  position: absolute;
  content: "";
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 35px;
  height: 35px;
  top: 15px;
  left: -65px;
  z-index: 1;
}

.text_slider .marquee_animi ul li:nth-child(even)::after {
  background-image: url(../images/star_1.svg);
}

.text_slider .marquee_animi ul li:nth-child(odd)::after {
  background-image: url(../images/star_2.svg);
}
/* Hero Section Style End */

/* About Section Style Start */
#about {
  position: relative;
  background-image: url("../images/about_section_bg.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 100px 0;
}
.about_image {
  position: relative;
  padding-bottom: 70px;
}

.about_image .img_1 {
  width: 318px;
  height: 540px;
  overflow: hidden;
}

.about_image .img_2 {
  width: 308px;
  height: 360px;
  position: absolute;
  bottom: 0;
  right: 25px;
}

.experience {
  position: absolute;
  width: 100%;
  height: 100%;
  font-size: 16px;
  animation: textRotation 13s linear infinite;
}

.inner_circle {
  width: 80px;
  height: 80px;
  border-radius: 100vmax;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px dashed var(--colorText);
  padding: 15px;
}

.experience span {
  position: absolute;
  left: 50%;
  font-size: 18px;
  transform-origin: 0px 70px;
}

#about .about_heading {
  color: var(--colorHeading);
  font-size: 48px;
  font-weight: 600;
  line-height: 60px;
  letter-spacing: -0.48px;
  margin-top: 25px;
}

#about .about_shor_desc {
  color: var(--colorText);
  font-size: 18px;
  font-weight: 400;
  line-height: 32px;
  padding: 10px 0 20px;
}

.about_list_item {
  margin-bottom: 30px;
}

#about .about_list_item li {
  margin-bottom: 15px;
  display: flex;
  align-items: center;
}
#about .about_list_icon {
  width: 26px;
  height: 26px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background: var(--colorWhite);
  box-shadow: 0px 8px 15.7px 0px rgba(12, 4, 66, 0.07);
  margin-right: 15px;
}

.about_list_icon i {
  background: radial-gradient(
      107.08% 85.59% at 86.3% 87.5%,
      rgba(0, 0, 0, 0.23) 0%,
      rgba(0, 0, 0, 0) 86.18%
    ),
    radial-gradient(
      83.94% 83.94% at 26.39% 20.83%,
      rgba(255, 255, 255, 0.41) 0%,
      rgba(255, 255, 255, 0) 69.79%,
      rgba(255, 255, 255, 0) 100%
    ),
    #2f6eff;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.ceo_photo {
  width: 70px;
  height: 70px;
  background: linear-gradient(to bottom, #0f36f878 0%, #3a4fd504 100%);
  border-radius: 50%;
  padding: 2px;
  margin-right: 10px;
}

.ceo_about {
  display: flex;
  align-items: center;
  margin-left: 25px;
}

.ceo_photo img {
  border-radius: 50%;
}

.ceo_sign {
  width: 123px;
  position: relative;
  margin-bottom: 16px;
}

.ceo_name_sign p {
  font-size: 14px;
  text-align: center;
}

.ceo_sign::after {
  position: absolute;
  content: "";
  background-color: var(--colorText);
  width: 100%;
  height: 1px;
  bottom: -10px;
  left: 0;
}

/* COUNTER START */
.counter ul {
  padding: 40px 0px 0px;
  background: var(--gradiantColor);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.counter ul li {
  position: relative;
}

.counter ul li::before {
  position: absolute;
  content: "";
  left: 0;
  top: 0;
  height: 1px;
  width: 100%;
  background-color: var(--colorText);
}

.counter ul li h3 {
  margin-top: 3px;
  font-size: 30px;
  color: var(--colorHeading);
}

.counter ul li h3 span {
  color: var(--colorHeading);
  font-size: 50px;
  font-weight: 400;
  line-height: 80px;
  letter-spacing: -2px;
}

.counter ul li p {
  text-align: center;
  color: var(--colorText);
  font-size: 16px;
  font-weight: 400;
}

/* COUNTER END */

/* About Section Style End */

/* Service Section Style Start */

#services {
  padding: 100px 0;
  background-image: url("../images/service_bg.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.service_title h2 {
  font-size: 48px;
  font-weight: 600;
  line-height: 60px;
  margin-top: 10px;
}

.service_card_stack {
  position: relative;
  height: 700px;
}

.service_card {
  position: absolute;
  top: 20px;
  left: 10%;
  display: flex;
  align-items: center;
  border-radius: 10px;
  padding: 50px;
  background: var(--colorWhite, #fff);
  box-shadow: 0px -23px 25.3px 0px #f6f7ff inset,
    0px 33px 101.1px 0px #eeefff inset;
  transition: transform 0.5s ease, opacity 0.5s ease;
}

.service_card:nth-child(1) {
  transform: translateY(180px) scale(1.02);
  opacity: 1;
  z-index: 4;
}

.service_card:nth-child(2) {
  transform: translateY(113px) scale(0.94);
  opacity: 0.8;
  z-index: 3;
}

.service_card:nth-child(3) {
  transform: translateY(52px) scale(0.86);
  opacity: 0.8;
  z-index: 2;
}

.service_card:nth-child(4) {
  transform: translateY(0px) scale(0.8);
  opacity: 0.8;
  z-index: 1;
}
.service_img {
  width: 414px;
  flex-shrink: 0;
  height: 345px;
  border-radius: 10px;
  background: #dbebfd;
}

.service_img img {
  border-radius: 10px;
}

.service_content {
  margin-left: 60px;
  width: 540px;
}

.service_btn {
  display: inline-flex;
  padding: 10px 15px;
  justify-content: center;
  align-items: center;
  border-radius: 100px;
  background: var(--Secondary-Shade, #eeefff);
}

.service_btn span {
  background: var(
    --Liniear-For-Badge,
    linear-gradient(102deg, #5163ff -0.32%, #fe71b9 100%)
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.service_content h2 {
  font-size: 48px;
  font-weight: 600;
  line-height: 60px;
  letter-spacing: -0.48px;
  color: var(--colorHeading);
}

.service_content p {
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
  color: var(--colorText);
  padding: 10px 0 15px;
}

.service_card .read_more_btn {
  display: inline-flex;
  padding: 16px 28px;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  font-size: 15px;
  font-weight: 600;
  color: var(--colorText);
  border: 1.5px solid var(--colorText, #fff);
}
/* Service Section Style End */

/* Header Section Style Start */

.portfolio_slider {
  position: relative;
  padding: 150px 5px;
}

.portfolio_heading {
  position: relative;
  padding: 50px;
}

.portfolio_heading h2,
.portfolio_heading h2 span {
  font-size: 200px;
  font-style: normal;
  font-weight: 700;
  line-height: 80%;
  background: linear-gradient(
    131deg,
    rgba(81, 99, 255, 0.08) 27.01%,
    rgba(254, 113, 185, 0.02) 113.08%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  position: absolute;
  top: 0;
  left: 48%;
}

.portfolio_heading h2 span {
  top: 150px;
  left: 30%;
}
.heading_icon {
  width: 20px;
  left: 25% !important;
}

.work_showcase_waraper {
  position: relative;
}
.work_showcase_waraper p,
.heading_icon {
  position: absolute;
  top: 20px;
  left: 29%;
}

.work_showcase {
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
  background: var(
    --Liniear-For-Badge,
    linear-gradient(102deg, #5163ff -0.32%, #fe71b9 100%)
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.single_portfolio {
  position: relative;
  overflow: hidden;
  width: 400px;
  border: 3px solid var(--colorBlack);
}

.single_portfolio .slider_action {
  position: absolute;
  bottom: -40px;
  left: 0;
  width: 100%;
  padding: 30px;
  transition: all linear 0.3s;
  -webkit-transition: all linear 0.3s;
  -moz-transition: all linear 0.3s;
  -ms-transition: all linear 0.3s;
  -o-transition: all linear 0.3s;
  opacity: 0;
}

.single_portfolio .slider_action_bg {
  background: var(--colorWhite);
  padding: 20px 25px;
  position: relative;
  box-shadow: 0px 10px 70px 0px rgba(17, 17, 17, 0.1);
  border-radius: 8px;
}

.single_portfolio .slider_action_bg h3 {
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 32px;
}
.single_portfolio .slider_action p {
  color: var(--colorWhite);
  display: inline-flex;
  padding: 5px 14px;
  justify-content: center;
  align-items: flex-start;
  border-radius: 4px;
  background: var(
    --Liniear-For-Badge,
    linear-gradient(102deg, #5163ff -0.32%, #fe71b9 100%)
  );
  font-size: 15px;
  font-weight: 500;
  line-height: 26px;
  margin-bottom: 5px;
}

.single_portfolio .slider_action span {
  position: absolute;
  top: 50%;
  right: 30px;
  display: block;
  width: 40px;
  height: 40px;
  padding: 12px;
  line-height: 40px;
  text-align: center;
  border-radius: 5px;
  color: var(--colorText);
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transition: all linear 0.3s;
  -webkit-transition: all linear 0.3s;
  -moz-transition: all linear 0.3s;
  -ms-transition: all linear 0.3s;
  -o-transition: all linear 0.3s;
}

.single_portfolio .slider_action:hover span {
  background: var(--redGradient);
  border-color: var(--colorHeading);
}

.single_portfolio:hover .slider_action {
  opacity: 1;
  bottom: 0;
  border-radius: 5px;
}

.portfolio_slider .nextArrow {
  bottom: 80px;
  right: 44%;
}

.portfolio_slider .prevArrow {
  left: 48%;
}

.portfolio_slider .icon {
  width: 40px;
}

.single_portfolio:hover img {
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
}

.portfolio_slider .slick-slide {
  transform: scale(0.7);
  transition: transform 0.3s ease;
  opacity: 0.5;
  padding: 50px 0;
  filter: drop-shadow(2px 2px 8px rgba(0, 35, 75, 0.4));
}

.portfolio_slider .slick-current {
  transform: scale(1.1);
  opacity: 1;
}
/* Header Section Style End */

/* Header Section Style Start */
#testimonial {
  background-image: url("../images/testimonial_bg.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 50px 0;
}

.testimonial_img_item {
  height: 100px;
  cursor: pointer;
  position: relative;
  transition: all linear 0.3s;
  -webkit-transition: all linear 0.3s;
  -moz-transition: all linear 0.3s;
  -ms-transition: all linear 0.3s;
  -o-transition: all linear 0.3s;
}

.testimonial_img_item .testimonial_img {
  width: 60px;
  height: 60px;
  transition: all linear 0.3s;
  -webkit-transition: all linear 0.3s;
  -moz-transition: all linear 0.3s;
  -ms-transition: all linear 0.3s;
  -o-transition: all linear 0.3s;
}

.slider-nav .slick-current .testimonial_img {
  transform: scale(1.9);
}

.slider-nav .slick-current .testimonial_img::after {
  position: absolute;
  content: "";
  background-image: url("../images/Quote.svg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  top: 40px;
  left: 0;
  width: 20px;
  height: 20px;
}

.slider-nav .slick-slide {
  padding-top: 50px;
}

.testimonial_content_wraper .nextArrow {
  right: -50px;
  bottom: 180px;
}
.testimonial_content_wraper .prevArrow {
  left: -50px;
  bottom: 180px;
}

.testimonial_description_2 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.testimonial_item_title {
  display: flex;
  align-items: center;
}
.testimonial_item_title p {
  font-size: 20;
  color: var(--colorText);
  margin-bottom: 15px;
}

.testimonial_item_title p span {
  font-size: 20;
  font-weight: 600;
  color: var(--colorHeading);
}

.testimonial_description_2 > p {
  padding: 50px 100px;
  text-align: center;
  font-size: 24px;
  line-height: 40px;
  color: var(--colorText);
}

.testimonial_description_2 > p span {
  color: var(--colorHeading);
  font-size: 24px;
  line-height: 40px;
}

.rating {
  display: flex;
}

.rating li {
  padding: 5px;
}
.rating li i {
  color: #ffa722;
}

/* Header Section Style End */

/* Footer Section Style Start */
.footer {
  padding: 100px 0;
  background-image: url("../images/footer_section_bg.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.footer_logo {
  width: 218px;
  margin-bottom: 30px;
}

.footer_left {
  padding: 40px;
  border-radius: 10px;
  background: linear-gradient(
    145deg,
    rgba(254, 113, 185, 0.04) -2.12%,
    rgba(20, 2, 73, 0.01) 121.13%
  );
  box-shadow: 0px 20px 122px 0px rgba(19, 7, 150, 0.08) inset,
    2.25px -7px 43.7px 0px rgba(255, 255, 255, 0.02) inset;
}

.footer_text p {
  color: rgba(255, 255, 255, 1);
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
}

.footer_text p:nth-child(2) {
  margin-top: 20px;
  color: rgba(255, 255, 255, 1);
}

.time {
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 32px;
  color: rgba(255, 255, 255, 1);
  margin-bottom: 25px;
}

.footer_social_icon ul {
  display: flex;
}
.footer_social_icon ul li {
  width: 40px;
  height: 40px;
  background-color: rgba(255, 255, 255, 0.1);
  margin-right: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
}

.service_container ul li,
.quick_link_container ul li {
  margin-bottom: 10px;
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
}

.quick_link_container ul li a,
.service_container ul li a {
  color: rgba(255, 255, 255, 0.9);
}

.footer_right {
  border-radius: 10px;
  background: linear-gradient(
    145deg,
    rgba(254, 113, 185, 0.04) -2.12%,
    rgba(20, 2, 73, 0.01) 121.13%
  );
  box-shadow: 0px 20px 122px 0px rgba(19, 7, 150, 0.08) inset,
    2.25px -7px 43.7px 0px rgba(255, 255, 255, 0.02) inset;
  padding: 40px 50px;
}

.footer_right h3 {
  font-size: 24px;
  font-weight: 600;
  line-height: 36px;
  letter-spacing: -0.24px;
  color: rgba(255, 255, 255, 1);
  margin-bottom: 25px;
}

.event_container li {
  display: flex;
  align-items: center;
  margin-bottom: 24px;
}

.event_img {
  width: 50px;
  height: 50px;
}

.event_img img {
  border-radius: 50%;
}

.event_details {
  margin-left: 20px;
}

.event_details h4 {
  font-size: 16px;
  font-weight: 500;
  line-height: 28px;
  color: rgba(255, 255, 255, 1);
}
.event_details p {
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  color: rgba(255, 255, 255, 1);
}
.news_latter {
  padding: 50px 60px;
  background-image: url("../images/news_latter_bg.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 5px;
  margin-top: 50px;
}

.news_latter .bell_icon {
  position: relative;
  width: 50px;
  height: 50px;
  padding: 12px;
  border-radius: 50%;
  background-color: var(--colorWhite);
}

.news_latter .bell_icon::after {
  position: absolute;
  content: "";
  height: 70px;
  width: 70px;
  border: 1px solid var(--colorText);
  border-radius: 50%;
  left: -10px;
  top: -10px;
}

.shot_text {
  color: var(--colorWhite);
  font-size: 32px;
  font-weight: 600;
  line-height: 42px;
  letter-spacing: -0.32px;
  margin-left: 20px;
}

.news_latter_input {
  position: relative;
}

.news_latter_input input {
  border-radius: 10px;
  color: var(--colorWhite);
  font-size: 18px;
  line-height: 32px;
  padding: 20px;
  border: 2px solid rgba(255, 255, 255, 0.35);
  background: linear-gradient(
    153deg,
    rgba(255, 255, 255, 0.45) -3.36%,
    rgba(254, 113, 185, 0) 149.26%
  );
  box-shadow: 0px 20px 122px 0px rgba(13, 7, 75, 0.08) inset,
    -2px -1px 7.8px 0px rgba(255, 255, 255, 0.15) inset;
}

.news_latter_input input::placeholder {
  color: var(--colorWhite) !important;
}

.news_latter_input button {
  position: absolute;
  right: 10px;
  top: 14px;
}
/* Footer Section Style End */

/* Header Section Style Start */
/* Header Section Style End */
